/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(81, 72, 72);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-gray-light);
    border-radius: var(--radius-md);
}
