:root {

  /*
   * =================================================
   *  Global Tokens
   * =================================================
   */

  /*
   * Colors
   */
  --color-black: #000000;
  --color-white: #FFFFFF;

  --color-dark: #1D1D1D;
  --color-dark-deep: #0B0A0A;
  --color-dark-secondary: #1D1B1B;
  --color-dark-alt: #111111;

  --color-light: #F2F2F2;

  --color-primary: #FFFFFF;

  --color-gray: #AAAAAA;
  --color-gray-light: #C2C2C2;
  --color-gray-lighter: #D9D9D9;

  --color-success: #43A047;
  --color-warning: #FFC107;
  --color-error: #F44336;
  --color-info: #448AFF;

  --color-pink: #FF63CE;
  --color-green: #A8E461;
  --color-blue: #6F7BFF;
  --color-cyan: #29D8E5;
  --color-coral: #FF6C6E;

  --color-hover: #2188EC;


  /*
   * Font Sizes
   */
  --size-h1: clamp(3.5rem, 5vw, 5rem);            /* 56px → 80px */
  --size-h2: clamp(2.625rem, 4vw, 3.875rem);     /* 42px → 62px */
  --size-h3: clamp(1.875rem, 3.25vw, 3.25rem);   /* 30px → 52px */
  --size-h4: clamp(1.5rem, 2.5vw, 2.125rem);     /* 24px → 34px */
  --size-h5: clamp(1.25rem, 1.75vw, 1.625rem);   /* 20px → 26px */
  --size-h6: 1.1875rem;                          /* 19px */

  --size-xl: 1.125rem;                           /* 18px */
  --size-lg: 1rem;                               /* 16px */
  --size-md: 0.9375rem;                          /* 15px */
  --size-sm: 0.875rem;                           /* 14px */
  --size-xs: 0.8125rem;                          /* 13px */


  /*
   * Font Families
   */
  --font-primary: 'Satoshi', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-accent: 'Montserrat', sans-serif;
  --font-display: 'Outfit', sans-serif;


  /*
   * Font Weights
   */
  --font-black: 900;
  --font-extra-bold: 700;
  --font-bold: 600;
  --font-medium: 500;
  --font-regular: 400;


  /*
   * Line Heights
   */
  --leading-flat: 1;        /* very compact */
  --leading-normal: 1.25;   /* default comfortable reading */
  --leading-relaxed: 1.5;   /* more open, good for body text */
  --leading-loose: 1.625;   /* airy, headings or large blocks */


  /*
   * Containers Width
   */
  --container-sm: 860px;     /* Used for Content Pages ("Privacy Policy", "Cookie Policy") */
  --container-md: 1200px;   /* The most common container width */
  --container-lg: 1360px;   /* Wider container */
  --container-xl: 1480px;   /* Full-width container */


  /*
   * Border Radius
   */
  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 40px;


  /*
   * Transitions
   */
  --transition-base: all 0.3s ease;


  /*
   * Borders
   */
  --stroke-base: 1px solid var(--color-black);
  --stroke-transparent: 1px solid transparent;


  /*
   * Shadows
   */
  --shadow-base: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


  /*
   * =================================================
   *  Contextual Tokens
   * =================================================
   */

}
